{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-theme.min.css">
    <script src="/static/bootstrap/js/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>

</head>
<body>
    <h1>welcome to back!</h1>
    <table class="table">
        <thead>
            <tr class="alert-danger">
                <th>id</th>
                <th>姓名</th>
                <th>home</th>
            </tr>
        </thead>
        <tbody>
            <tr class="alert-success">
                <th>01</th>
                <th>kylin</th>
                <th>湖南</th>
            </tr>
            <tr class="alert-warning">
                <th>02</th>
                <th>corleone</th>
                <th>湘潭</th>
            </tr>
            <tr class="alert-success">
                <th>03</th>
                <th>phoenix</th>
                <th>湘乡</th>
            </tr>

        </tbody>

    </table>

</body>
</html>
